<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<typeAliases>
		<typeAlias type="com.lsg.member.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.lsg.community.vo.CommunityVO" alias="CommunityVO"/>
		<typeAlias type="com.lsg.reply.vo.ReplyVO" alias="ReplyVO"/>
		<typeAlias type="com.lsg.community.vo.CommunityPagerVO" alias="CommunityPagerVO"/>
	</typeAliases>

	<mappers>
		<mapper resource="com/lsg/member/dao/sql/memberDao.xml"/>
		<mapper resource="com/lsg/community/dao/sql/communityDao.xml"/>
		<mapper resource="com/lsg/reply/dao/sql/replyDao.xml"/>
	</mappers>
	
</configuration>